body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #E7E7E7;
}

p {
    font-family: 'Khand', sans-serif;
    line-height: 150%;
    padding: 0;
    margin: 0;
}

.header {
    top: 0;
    height: 33px;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    z-index: 9999;
}

.header-nav {
    text-align: center;
    display: block;
    font-family: 'Khand', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.header-nav a {
    padding: 0 10px;
    text-decoration: none;
    color: #686868;
}

.header-nav a:first-child {
    padding-left: 0px;
}

.header-nav a:last-child {
    padding-right: 0px;
}

.header-nav a:hover span, .header-nav a.active span {
    border-bottom: 4px solid #0BC4CC;
}

.header-nav a.active span {
    font-weight: 500;
}

.title-wrapper {
    margin-top: 15px;
    height: 100%;
    width: 100%;
    background: #0BC4CC;
}

.title-content {
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    width: 90%;
}

.invitation-title {
    font-family: 'Tangerine', cursive;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.groom-name {
    color: #000;
    position: absolute;
    top: 30px;
    left: -90px;
}

.bride-name {
    color: #fff;
    position: absolute;
    top: 30px;
    right: -86px;
}

.wrapper {
    margin-top: -70px;
    height: 100%;
    width: 100%;
    margin-bottom: 40px;
}

.content {
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background: #F1F1F1;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(197,197,197,1);
    -moz-box-shadow: 0px 10px 10px 0px rgba(197,197,197,1);
    box-shadow: 0px 10px 10px 0px rgba(197,197,197,1);
    width: 90%;
}

.box {
    padding: 40px 0px;
}

.pic {
    display: inline-block;
    margin: 0px 60px;
}

.pic img {
    width: 180px;
}

.heart-connector {
    display: inline-block;
    position: relative;
}

.heart-connector span {
    font-family: 'Tangerine', cursive;
    position: absolute;
    top: -170px;
    font-size: 60px;
    left: -12px;
    color: #0BC4CC;
}

.heart-connector-copy {
    font-family: 'Tangerine', cursive;
    font-size: 60px;
    color: #0BC4CC;
}

.knot {
    position: absolute;
    top: -94px;
    width: 111px;
    left: -52px;
}

.about-info {
    text-align: center;
    color: #686868;
}

.about-header {
    font-size: 20px;
}

.about-description {
    font-size: 16px;
}

.break {
    height: 2px;
    position: relative;
    margin-bottom: 25px;
    border-bottom: 2px solid rgba(11, 196, 204, 0.3);
}

.heart-wrapper {
    position: absolute;
    top: -25px;
    left: 50%;
    background: #F1F1F1;
    margin-left: -35px;
    width: 70px;
}

.heart-wrapper-end {
    position: absolute;
    top: -9px;
    left: 50%;
    background: #F1F1F1;
    margin-left: -45px;
    width: 90px;
}

.date-and-time {
    padding-top: 20px;
}

.date {
    font-size: 50px;
    color: #0BC4CC;
    line-height: 125%;
}

.date sup {
    font-size: 25px;
}

.time {
    font-size: 20px;
}

.time span {
    font-weight: 600;
}

.occasion {
    text-decoration: overline;
}

.show-desktop {
    display: block;
}

.show-mobile, .show-mobile-inline {
    display: none;
}

.show-desktop-inline {
    display: inline;
}

#map iframe {
    height: 300px;
}

.hotel-name {
    color: #0BC4CC;
}

.copy-title-container {
    padding: 10px 0px 5px 0px;
    border-bottom: 2px dashed rgba(11, 196, 204, 0.3);
    display: inline-block;
}

.copy-title {
    font-size: 30px;
    color: #0BC4CC;
    line-height: 100%;
}

.copy-tail {
    color: #0BC4CC;
}

.copy-container {
    margin: 0 auto;
}

.copy-container .copy {
    font-family: 'Tangerine', cursive;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 125%;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-top-20 {
    padding-top: 20px;
}
